include README.md
include LICENSE
include requirements.txt
include .env.example
include gunicorn.config.py
include entrypoint.sh
recursive-include django_coralogix_otel *.py
recursive-include scripts *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store